.blog-entry img {
  margin-bottom: 15px;
  margin-top: 15px;
}

.summary {
  text-align: left;
  margin-bottom: 10px;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
}

.comments {
  display: flex;
  flex-wrap: wrap;
}

.comments h1 {
  margin-bottom: 5px;
  font-size: 16pt;
  width: 100%;
}

#comment-text, #contact-text {
  margin-top: 15px;
  width: 96%;
  height: 150px;
  border-radius: 5px;
  padding: 8px;
}

#send-comment {
  margin-top: 10px;
  width: 50%;
}

#admin-delete {
  margin-top: 20px;
  background-color: #D93131;
  padding: 5px;
  width: 50%;
  height: 35px;
  font-weight: bold;
  font-size: 10.5pt;
}

#comment-name {
  padding: 8px;
  border-radius: 5px;
  margin-top: 20px;
}

.comment {
  width: 98%;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.push-comment {
  border:  1px solid #D6E0EB;
  padding: 5px;
  font-size: 10pt;
  border-radius: 5px;
  line-height: 1.6;
  width: 100%;
}

.push-comment-name {
  width: 200px;
  margin-top: 30px;
  font-size: 12pt;
  font-style:  bold;
  padding-left: 10px;
}

.go-back {
  margin-top:  30px;
}

.go-back a {
  font-size: 12pt;
  color: #808080;
}

.about img {
  width: 100%;
}

.write-email {
  margin-top: 30px;
}

.write-email a {
  font-size: 14pt;
  color: #000;
  text-decoration: none;
}

.write-email a:hover {
  color: #8942f4;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.gallery-container img {
  width: 28%;
  height: 10%;
  margin: 2%;
}

.article-list {
  list-style-type: none;
  padding-left: 5px;
}

.article-list li {
  margin-bottom:  45px;
  background-color: #F0F0E8;
  padding: 20px;
}

.article-list a {
  font-size: 16pt;
  color: #000;
  text-decoration: none;
}

.article-list p {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 12pt;
}

.contact {
  background-color: #F0F0E8;
  padding:  30px;
  border-radius: 5px;
  width: 90%;
}

#contact-name, #contact-email {
  padding-left: 5px;
}

#contact-button {
  margin-top: 15px;
}

#contact-data {
  margin-top: 25px;
  margin-bottom: 25px;
}

#select-occasion {
  margin-bottom: 15px;
}

#login-name, #login-password {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}

#admin-login-button {
  margin-top: 10px;
  margin-bottom: 50px;
}

#admin-message {
  font-size: 11pt;
  line-height: 1.5;
  margin-bottom: 50px;
}

.no-delete-button {
  font-size: 11pt;
  line-height: 1.5;
  padding-left: 20px;
  padding-right: 40px;
}

.radio {
 float: left;
}

.date {
  font-size: 9pt;
  font-style: italic;
}

#mails, #messages {
  border-collapse: collapse;
  border-spacing: 0px;
  margin-top:  40px;
  width:  45%;
  font-size:  9pt;
  /* word-break:  break-all; */
  word-wrap:  break-word;
}

#messages {
  width:  90%;
  margin-right: 10px;
}

#mails, #messages, tr, td, th {
  border: 0.5px solid #000;
  padding: 5px;
}

#mails th, #messages th {
  font-size: 11pt;
}

#contact-data label {
  display: inline-block;
  width: 50px;
  font-size: 11pt;
}

#contact-name, #contact-email {
  padding: 2px;
  margin-left: 10px;
  margin-top: 15px;
}

#receive-newsletter, #occasion {
  margin-bottom: 20px;
  font-size: 11pt;
}

#occasion label {
  font-size: 11pt;
  margin-right: 5px;
}

.social-media-plugins {
  display: flex;
  flex-flow: row wrap;
}

.fb-like {
  margin-right: 10px;
}